<html>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/form.css') }}">
   <script>
   function myFunction() {
     document.getElementById("log").innerHTML="This may take some time depending upon the number of rows in the file provided...";
   }

   </script>
   <body>
   		<div id='d1'>
   			 <h1>Upload your file!</h1>
   		</div>
   		<div id='d2'>
	     	 <form action = "/file_upload" method = "POST" 
	         enctype = "multipart/form-data">
	         <input type = "file" name = "file" />
	         <input type = "submit" onclick="myFunction()"/>
      		 </form>
      	</div>
         <div id="log">
            
         </div>
   </body>
</html>